<section class="container mx-auto py-10">
  <div class="text-center text-primary text-bold text-3xl">Logo</div>
  <div class="flex flex-col my-4">
    <div>848 King Street, Mesa, AZ 85201, Boston, USA</div>
    <div>info@pawsitively.com</div>
    <div class="flex justify-end my-2">
      <ul class="flex gap-4 font-bold">
        <li>Service</li>
        <li>Blog</li>
        <li>Community</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div>© 2022 Brand, Inc. • Privacy • Terms • Sitemap</div>
  </div>
</section>
